<html xmlns:th="https://www.thymeleaf.org">
    <head>
      <title>Upload-Download</title>
    </head>
    <body>

        <div style="display: flex; flex-direction: column">
          <div>
            <input type="file" id="fileupload" name="fileupload"/>
            <button id="upload-btn" onclick="uploadFile()">Upload file</button>
          </div>

            <div>
                <form name="download" th:action="@{/index/download}">
                    <input type="file" id="filedownload" name="fileName">
                    <button id="download-btn" onclick="downloadFile()">Download file</button>
                </form>
            </div>
        </div>

      <script>
          async function uploadFile() {
              let formData = new FormData();
              formData.append("file", fileupload.files[0]);

              let response = await fetch('/index/upload', {
                method: "POST",
                body: formData
              });

              if (response.status === 200) {
                alert("Success uploading file")
              } else {
                alert("Error, " + response.status)
              }
          }

          function downloadFile() {
              const fileName = document.forms['download']['fileName'].files[0].name;
              let response = fetch(`/index/download/${fileName}`, {
                  method: "GET"
              });
          }

      </script>
    </body>
</html>